 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-shape-1 {
  width: 732px;
  height: 482px;
  margin: 109px auto 0;
}

.u-section-1 .u-image-1 {
  width: 744px;
  height: 567px;
  margin: -460px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Cambay;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  width: 710px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  align-self: center;
  margin: 32px auto 60px;
  padding: 13px 49px 13px 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 793px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-1 .u-shape-1 {
    width: 676px;
    height: 467px;
    margin-top: 31px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 669px;
    height: 395px;
    margin-top: -451px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-shape-1 {
    height: 347px;
    width: 520px;
    margin-top: 143px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 319px;
    margin-top: -347px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-shape-1 {
    height: 211px;
    width: 320px;
    margin-top: 184px;
    margin-left: 4px;
  }

  .u-section-1 .u-image-1 {
    width: 332px;
    height: 196px;
    margin-top: -211px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}